<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.slkj.slclgl.global.mapper.GlobalMapper">
	<sql id="sql_temp">
		id,vid,carNumber,contacts,contactsTel,carType,companyName,equitment,simNumber,
		facilitator,networkNo,azzm,installtime,installer,endriqi,remark 
	</sql>
	<select id="queryList" resultType="global" parameterType="hashmap">


			SELECT
					TG.ID AS ID,TV.ID AS VID,TV.CARNUMBER ,TV.CONTACTS,TV.CONTACTSTEL,TV.CLASSIFY,TV.CARTYPE,
					TC.COMPNAME AS COMPANYNAME,
					TG.EQUITMENT,TG.SIMNUMBER,TG.FACILITATOR,TG.NETWORKNO,TG.AZZM,TG.INSTALLTIME,TG.INSTALLER,TG.ENDRIQI,TG.REMARK ,TG.INSADDERSS
			FROM
						TB_VEHICLE TV   
			LEFT  JOIN    
						(SELECT ID,vid,max(ENDRIQI)as ENDRIQI,EQUITMENT,SIMNUMBER,FACILITATOR,NETWORKNO,AZZM,
						INSTALLTIME,INSTALLER,INSADDERSS,REMARK  FROM TB_GLOBAL GROUP BY vid) TG ON TV.ID = TG.VID
			LEFT  JOIN 
			TB_COMPANY TC on TV.companyId = TC.ID
			<where>
				<if test="carNumber != null and carNumber != ''">
					AND TV.CARNUMBER LIKE CONCAT('%',#{carNumber},'%')
				</if>
				<if test="companName != null and companName != ''">
					AND TC.COMPNAME LIKE CONCAT('%',#{companName},'%')
				</if>
				<if test="endDate != null and endDate != ''">
					<![CDATA[ AND TG.ENDRIQI  >= #{endDate} AND TG.ENDRIQI  <= #{endDate1} ]]> 
				</if>
			</where>
		LIMIT #{startNum},#{endNum}
	</select>
	
	<select id="queryListCount" resultType="int" parameterType="hashmap">

			SELECT
				COUNT(0)
			FROM
						TB_VEHICLE TV   
			LEFT  JOIN    
						(SELECT ID,vid,max(ENDRIQI)as ENDRIQI,EQUITMENT,SIMNUMBER,FACILITATOR,NETWORKNO,AZZM,
						INSTALLTIME,INSTALLER,INSADDERSS,REMARK  FROM TB_GLOBAL GROUP BY vid) TG ON TV.ID = TG.VID
			LEFT  JOIN 
			TB_COMPANY TC on TV.companyId = TC.ID
			<where>
				<if test="carNumber != null and carNumber != ''">
					AND TV.CARNUMBER LIKE CONCAT('%',#{carNumber},'%')
				</if>
				<if test="companName != null and companName != ''">
					AND TC.COMPNAME LIKE CONCAT('%',#{companName},'%')
				</if>
				<if test="endDate != null and endDate != ''">
					<![CDATA[ AND TG.ENDRIQI  >= #{endDate} AND TG.ENDRIQI  <= #{endDate1} ]]> 
				</if>
			</where>
	</select>
	
	
	<select id="getExpires" resultType="global" parameterType="hashmap">
	SELECT VID,CARNUMBER,endriqi FROM(SELECT A.*,ROW_NUMBER() OVER (ORDER BY endriqi DESC) ROWNUM FROM(
		SELECT TV.ID AS VID, TV.CARNUMBER,C.endriqi
			FROM TB_VEHICLE TV   JOIN( SELECT MAX (endriqi) AS endriqi, VID FROM tb_global GROUP BY VID )C ON TV.ID = C.VID
			where <![CDATA[ endriqi<dateadd(DAY,20,getdate())]]> 
				<if test="operId != null and operId != ''">
					AND TV.OPERATORID =#{operId}
				</if>
				<if test="depId != null and depId != ''">
					AND TV.depId  LIKE   #{depId}  + '%'
				</if>
				<if test="companyId != null and companyId != ''">
					AND TV.OWNEDID =#{companyId}
				</if>
		) A)B
		WHERE ROWNUM &gt; #{startNum} AND ROWNUM &lt;=#{endNum}
	</select>
	<select id="getExpiresCount" resultType="int" parameterType="hashmap">
		SELECT  COUNT(0) FROM TB_VEHICLE TV   JOIN( SELECT MAX (endriqi) AS endriqi, VID FROM tb_global GROUP BY VID )C ON TV.ID = C.VID
			where <![CDATA[ endriqi<dateadd(DAY,20,getdate())]]> 
				<if test="operId != null and operId != ''">
					AND TV.OPERATORID =#{operId}
				</if>
				<if test="depId != null and depId != ''">
					AND TV.depId  LIKE   #{depId}  + '%'
				</if>
				<if test="companyId != null and companyId != ''">
					AND TV.OWNEDID =#{companyId}
				</if>
	</select>
	
	<select id="queryOne" parameterType="global" resultType="global">
		SELECT *  from TB_GLOBAL 
		<where>
			<if test="id != null and id != ''">
				AND id = #{id}
			</if>
		</where>
	</select>
	
	<insert id="save" parameterType="global">
		INSERT INTO TB_GLOBAL
		(vid,equitment,simNumber,facilitator,networkNo,azzm,installtime,installer,insAdderss, endriqi,remark)
		VALUES
		(#{vId},#{equitment},#{simNumber},#{facilitator},#{networkNo},#{azzm},#{installtime},#{installer},#{insAdderss},#{endriqi},#{remark})
	</insert>
	
	<update id="edit" parameterType="global">
		UPDATE TB_GLOBAL SET 
			equitment = #{equitment},
			simNumber = #{simNumber},
			facilitator = #{facilitator},
			networkNo = #{networkNo},
			azzm = #{azzm},
			installtime = #{installtime},
			installer = #{installer},
			insAdderss = #{insAdderss}, 
			endriqi = #{endriqi},
			remark = #{remark}
		WHERE
			ID = #{id}
	</update>
	
	<delete id="delete" parameterType="string">
		DELETE FROM TB_GLOBAL WHERE ID  = #{id}
	</delete>
	
	<select id="listByVid" resultType="global" parameterType="hashmap">
		 SELECT *  from TB_GLOBAL 
		 <where>
			<if test="vId != null and vId != ''">
				AND  vId =#{vId}
			</if>
		</where>
		 LIMIT #{startNum},#{endNum}
	</select>
	<select id="listByVidCount" resultType="int" parameterType="hashmap">
		 SELECT COUNT(0) from TB_GLOBAL 
		<where>
			<if test="vId != null and vId != ''">
				AND  vId =#{vId}
			</if>
		</where>
	</select>
</mapper>