<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- Spring整合myBatis后，这个配置文件基本可以不要了 -->
	<!-- 设置外部配置文件 -->
	<!-- 设置类别名 -->
	<typeAliases>
		<typeAlias type="cn.slkj.slclgl.user.bean.User" alias="User" />
		<typeAlias type="cn.slkj.slclgl.module.bean.Module" alias="Module" />
		<typeAlias type="cn.slkj.slclgl.role.bean.Role" alias="Role" />
		<typeAlias type="cn.slkj.slclgl.sim.bean.Sim" alias="Sim" />
		<typeAlias type="cn.slkj.slclgl.devices.bean.Devices" alias="Devices" />
		<typeAlias type="cn.slkj.slclgl.company.bean.Company" alias="Company" />
		<typeAlias type="cn.slkj.slclgl.vehicle.bean.Vehicle" alias="Vehicle" />
		<typeAlias type="cn.slkj.slclgl.person.bean.Person" alias="person" />
		<typeAlias type="cn.slkj.slclgl.person.bean.Driver_record" alias="driver_record" />
		<typeAlias type="cn.slkj.slclgl.person.bean.Server_unit" alias="server_unit" />
		<typeAlias type="cn.slkj.slclgl.person.bean.Driver_exzm" alias="driver_exzm" />
		<typeAlias type="cn.slkj.slclgl.after.bean.Phone" alias="phone" />
		<typeAlias type="cn.slkj.slclgl.devices.bean.Devices_record" alias="Devices_record" />
		<typeAlias type="cn.slkj.slclgl.xzqh.bean.Xzqh" alias="Xzqh" />
		<typeAlias type="cn.slkj.slclgl.driving.bean.Driving" alias="Driving"/>
		<typeAlias type="cn.slkj.slclgl.transport.bean.Transport" alias="transport"/>
		<typeAlias type="cn.slkj.slclgl.second.bean.SecondInsurance" alias="secondInsurance" />
		<typeAlias type="cn.slkj.slclgl.insurance.bean.Insurance" alias="insurance" />
		<typeAlias type="cn.slkj.slclgl.insurance.bean.InsuranceType" alias="insuranceType" />
		<typeAlias type="cn.slkj.slclgl.insurance.bean.InsuranceCompany" alias="insuranceCompany" />
		<typeAlias type="cn.slkj.slclgl.module.bean.Permission" alias="Permission" />
		<typeAlias type="cn.slkj.slclgl.prove.bean.Prove" alias="prove" />
	</typeAliases>
	<!-- 设置数据库连接环境 -->
	<!-- 映射文件 -->
	<mappers>
		<mapper resource="cn/slkj/slclgl/user/mapper/UserMapper.xml" />
		<mapper resource="cn/slkj/slclgl/module/mapper/ModuleMapper.xml" />
		<mapper resource="cn/slkj/slclgl/role/mapper/RoleMapper.xml" />
		<mapper resource="cn/slkj/slclgl/sim/mapper/SimMapper.xml" />
		<mapper resource="cn/slkj/slclgl/devices/mapper/DevicesMapper.xml" />
		<mapper resource="cn/slkj/slclgl/company/mapper/CompanyMapper.xml" />
		<mapper resource="cn/slkj/slclgl/vehicle/mapper/VehicleMapper.xml" />
		<mapper resource="cn/slkj/slclgl/person/mapper/PersonMapper.xml" />
		<mapper resource="cn/slkj/slclgl/person/mapper/DriverMapper.xml" />
		<mapper resource="cn/slkj/slclgl/person/mapper/ExzmMapper.xml" />
		<mapper resource="cn/slkj/slclgl/person/mapper/UnitMapper.xml" />
		<mapper resource="cn/slkj/slclgl/after/mapper/PhoneMapper.xml" />
		<mapper resource="cn/slkj/slclgl/xzqh/mapper/XzqhMapper.xml" />
		<mapper resource="cn/slkj/slclgl/driving/mapper/DrivingMapper.xml" />
		<mapper resource="cn/slkj/slclgl/transport/mapper/TransportMapper.xml" />
		<mapper resource="cn/slkj/slclgl/second/mapper/SecondInsuranceMapper.xml"/>
		<mapper resource="cn/slkj/slclgl/insurance/mapper/InsuranceMapper.xml"/>
		<mapper resource="cn/slkj/slclgl/prove/mapper/ProveMapper.xml"/>
	</mappers>
</configuration>
