<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- Spring整合myBatis后，这个配置文件基本可以不要了 -->
	<!-- 设置外部配置文件 -->
	<!-- 设置类别名 -->
	<typeAliases>
		<typeAlias type="cn.slkj.slclgl.user.bean.User" alias="User" />
		<typeAlias type="cn.slkj.slclgl.module.bean.Module" alias="Module" />
		<typeAlias type="cn.slkj.slclgl.sim.bean.Sim" alias="Sim" />
		<typeAlias type="cn.slkj.slclgl.devices.bean.Devices" alias="Devices" />
		<typeAlias type="cn.slkj.slclgl.company.bean.Company" alias="Company" />
		<typeAlias type="cn.slkj.slclgl.vehicle.bean.Vehicle" alias="Vehicle" />
		<typeAlias type="cn.slkj.slclgl.person.bean.Person" alias="person" />
		<typeAlias type="cn.slkj.slclgl.person.bean.Driver_record" alias="driver_record"/>
		<typeAlias type="cn.slkj.slclgl.person.bean.Server_unit" alias="server_unit"/>
		<typeAlias type="cn.slkj.slclgl.person.bean.Driver_exzm" alias="driver_exzm"/>
	</typeAliases>
	<!-- 设置数据库连接环境 -->
	<!-- 映射文件 -->
	<mappers>
		<mapper resource="cn/slkj/slclgl/user/mapper/UserMapper.xml" />
		<mapper resource="cn/slkj/slclgl/module/mapper/ModuleMapper.xml" />
		<mapper resource="cn/slkj/slclgl/sim/mapper/SimMapper.xml" />
		<mapper resource="cn/slkj/slclgl/devices/mapper/DevicesMapper.xml" />
		<mapper resource="cn/slkj/slclgl/company/mapper/CompanyMapper.xml" />
		<mapper resource="cn/slkj/slclgl/vehicle/mapper/VehicleMapper.xml" />
		<mapper resource="cn/slkj/slclgl/person/mapper/PersonMapper.xml"/>
		<mapper resource="cn/slkj/slclgl/person/mapper/DriverMapper.xml"/>
		<mapper resource="cn/slkj/slclgl/person/mapper/ExzmMapper.xml"/>
		<mapper resource="cn/slkj/slclgl/person/mapper/UnitMapper.xml"/>
	</mappers>
</configuration>