<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.slkj.slclgl.user.mapper.UserMapper">
	<select id="login" resultType="User" parameterType="hashmap">
		select * from
		dt_user
		where
		name=#{name}
		and pwd=#{password}
	</select>
	<select id="getAllUsers" resultType="User" parameterType="hashmap">
		select *
		from dt_user
	</select>
</mapper>