* {
	font-size: 12px; font-family: Tahoma, Verdana, 微软雅黑, 新宋体
}

body {
	/* 	background: #D2E0F2; */
	margin: 0
}

a {
	/* 	color: Black;  */
	text-decoration: none;
}

th {
	text-align: right;
}

a:hover {
	color: Red; text-decoration: underline;
}

.textbox03 {
	border: #878787 1px solid; padding: 4px 3px; font: Verdana, Geneva, sans-serif, 宋体; line-height: 14px; background-color: #fff; height: auto; font-size: 14px; font-weight: bold; width: 190px;
}

.txt01 {
	font: Verdana, Geneva, sans-serif, 宋体; padding: 3px 2px 2px 2px; border-width: 1px; border-color: #ddd; color: #000;
}

.txt {
	border: #878787 1px solid; padding: 4px 3px; font: Verdana, Geneva, sans-serif, 宋体; line-height: 14px; background-color: #fff; height: auto; font-size: 14px;
}

.tabs-tool {
	border-top-width: 0; border-right-width: 0;
}
/*--------index页面样式-------------*/
.tabs-tool table {
	border-width: 0;
	/* border-collapse: collapse; */ border-spacing: 0;
}

.footer {
	text-align: center; color: #15428B; margin: 0; padding: 0; line-height: 23px; font-weight: bold
}

.header {
	position: relative; height: 68px; background: url(../images/master_header.png) no-repeat;
}

.header_cont {
	width: 100%; float: right;
}

.system {
	float: right; margin: 10px 20px 0 0;
}

.system a {
	margin: 0 5px 0 5px;
}

.footer {
	text-align: center; color: #15428B; margin: 0px; padding: 0px; line-height: 23px; font-weight: bold;
}
/*--------index页面样式-------------*/
.navlist {
	list-style-type: none; margin: 0px; padding: 10px;
}

.navlist li {
	padding: 0px;
}

.navlist li a {
	color: Black; text-decoration: none; line-height: 24px;
}

.navlist li div {
	margin: 2px 0px; padding-left: 10px; padding-top: 2px; border: 1px dashed #ffffff;
}

.navlist li div.hover {
	border: 1px dashed #99BBE8; background: #E0ECFF; cursor: pointer;
}

.navlist li div.hover a {
	color: #416AA3;
}

.navlist li div.selected {
	border: 1px solid #99BBE8; background: #E0ECFF; cursor: default;
}

.navlist li div.selected a {
	color: #416AA3; font-weight: bold;
}

.third_ul {
	list-style-type: none; margin: 0px; padding: 0px; display: none;
}

.third_ul li {
	padding-left: 20px;
}

.icon-arrow {
	background: url('../images/arrow.gif') no-repeat right;
}

.grid {
	font: 12px arial, helvetica, sans-serif; border: 1px solid #8DB2E3
}

.grid td {
	font: 100% arial, helvetica, sans-serif; height: 24px; padding: 5px
}

.grid {
	width: auto; border-collapse: collapse
}

.grid th {
	background: #E7F3FE; height: 27px; line-height: 27px; border: 1px solid #8DB2E3; padding-left: 5px; text-align: right;
}

.grid td {
	border: 1px solid #8DB2E3; padding-left: 5px
}

.txt01 {
	border: #A4BED4 1px solid; font: Verdana, Geneva, sans-serif, 宋体; background-color: #fff; font-size: 14px; height: 20px; line-height: 20px
}

.txt02 {
	border-color: #ddd #ddd #ddd #ddd; border-width: 1px; padding: 3px 2px 2px 2px; font: trebuchet ms, helvetica, arial, sans-serif; color: #000
}

.txt03 {
	color: #000100; height: 16px; line-height: 16px; padding: 3px 2px; border: 1px solid #9296ac; background: url("userInputBg.jpg") repeat-x left top
}

.txt {
	border: #878787 1px solid; padding: 4px 3px; font: Verdana, Geneva, sans-serif, 宋体; line-height: 14px; background-color: #fff; height: auto; font-size: 14px
}