<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.slkj.slclgl.devices.mapper.DevicesMapper">
	<sql id="sql_base">
		id,listnum,firm,model,rktime,state,fhtime,lyr,lytime,test,cstime,tresult,gpszj,gpstx,gsmtx,dy,fsd,jsq,sxy,ysq,mkf,remark,pack,area,areaName
		,phone,carNumber,networkNo,company
	</sql>
	<sql id="sql_onVehicle">
		TBD.id,TBD.listnum,TBD.firm,TBD.model,TBD.rktime,TBD.state,TBD.fhtime,TBD.lyr,
		TBD.lytime,TBD.test,TBV.simNumber as phone,TBD.cstime,TBD.tresult,TBD.gpszj,TBD.gpstx,TBD.gsmtx,TBD.dy,
		TBD.fsd,TBD.jsq,TBD.sxy,TBD.ysq,TBD.mkf,TBD.remark,TBD.pack,
		TBV.installers,TBV.installtime,TBV.carNumber,
		(select compName from  tb_company where id =  TBV.companyId) AS company,TBV.networkNo,
		TBD.area, TBD.areaName
	</sql>
	<select id="getAll" resultType="Devices" parameterType="hashmap">
<!-- 		SELECT <include refid="sql_onVehicle"></include> FROM TB_DEVICES TBD left join TB_VEHICLE TBV -->
<!-- 		ON TBD.LISTNUM = TBV.EQUITMENT -->
<!-- 		<where> -->
<!-- 			<if test="listnum != null and listnum != ''">AND TBD.LISTNUM like CONCAT('%',#{listnum},'%')</if> -->
<!-- 			<if test="phone != null and phone != ''">AND TBV.SIMNUMBER LIKE CONCAT('%',#{phone},'%')</if> -->
<!-- 			<if test="rktime != null and rktime != ''">AND TBD.RKTIME >= #{rktime} </if> -->
<!-- 			<if test="rktime1 != null and rktime1 != ''"> AND TBD.RKTIME &lt;= #{rktime1} </if> -->
<!-- 			<if test="lytime != null and lytime != ''">AND TBD.LYTIME >= #{lytime} </if> -->
<!-- 			<if test="lytime1 != null and lytime1 != ''"> AND TBD.LYTIME &lt;= #{lytime1} </if> -->
<!-- 			<if test="fhtime != null and fhtime != ''">AND TBD.FHTIME >= #{fhtime} </if> -->
<!-- 			<if test="fhtime1 != null and fhtime1 != ''"> AND TBD.FHTIME &lt;= #{fhtime1} </if> -->
<!-- 			<if test="state != null and state != ''">AND TBD.STATE =  #{state} </if> -->
<!-- 			<if test="lyr != null and lyr != ''"> AND TBD.LYR LIKE CONCAT('%',#{lyr},'%') </if> -->
<!-- 			<if test="firm != null and firm != ''">AND TBD.FIRM LIKE CONCAT('%',#{firm},'%')  </if> -->
<!-- 			<if test="area != null and area != ''">AND TBD.AREA LIKE CONCAT('%',#{area},'%')  </if> -->
<!-- 			<if test="carNumber != null and carNumber != ''">AND TBD.CARNUMBER LIKE CONCAT('%',#{carNumber},'%')  </if> -->
<!-- 		</where> -->
		SELECT <include refid="sql_base"></include> FROM TB_DEVICES
			<where>
				<if test="listnum != null and listnum != ''">AND LISTNUM like CONCAT('%',#{listnum},'%')</if>
				<if test="phone != null and phone != ''">AND PHONE LIKE CONCAT('%',#{phone},'%')</if>
				<if test="rktime != null and rktime != ''">AND RKTIME >= #{rktime} </if>
				<if test="rktime1 != null and rktime1 != ''"> AND RKTIME &lt;= #{rktime1} </if>
				<if test="lytime != null and lytime != ''">AND LYTIME >= #{lytime} </if>
				<if test="lytime1 != null and lytime1 != ''"> AND LYTIME &lt;= #{lytime1} </if>
				<if test="fhtime != null and fhtime != ''">AND FHTIME >= #{fhtime} </if>
				<if test="fhtime1 != null and fhtime1 != ''"> AND FHTIME &lt;= #{fhtime1} </if>
				<if test="state != null and state != ''">AND STATE =  #{state} </if>
				<if test="lyr != null and lyr != ''"> AND LYR LIKE CONCAT('%',#{lyr},'%') </if>
				<if test="firm != null and firm != ''">AND FIRM LIKE CONCAT('%',#{firm},'%')  </if>
				<if test="area != null and area != ''">AND AREA LIKE CONCAT('%',#{area},'%')  </if>
				<if test="carNumber != null and carNumber != ''">AND CARNUMBER LIKE CONCAT('%',#{carNumber},'%')  </if>
			</where>
			<if test="sort != null and sort != ''">
					ORDER BY  ${sort}       ${order}
			</if>
		LIMIT #{startPage},#{endPage}
	</select>

	<select id="getAllCount" resultType="int" parameterType="hashmap">
<!-- 		SELECT COUNT(1) FROM  TB_DEVICES TBD left join TB_VEHICLE TBV -->
<!-- 		ON TBD.LISTNUM = TBV.EQUITMENT -->
<!-- 		<where> -->
<!-- 			<if test="listnum != null and listnum != ''">AND TBD.LISTNUM like CONCAT('%',#{listnum},'%')</if> -->
<!-- 			<if test="phone != null and phone != ''">AND TBV.SIMNUMBER LIKE CONCAT('%',#{phone},'%')</if> -->
<!-- 			<if test="rktime != null and rktime != ''">AND TBD.RKTIME >= #{rktime} </if> -->
<!-- 			<if test="rktime1 != null and rktime1 != ''"> TBD.AND RKTIME &lt;= #{rktime1} </if> -->
<!-- 			<if test="lytime != null and lytime != ''">AND TBD.LYTIME >= #{lytime} </if> -->
<!-- 			<if test="lytime1 != null and lytime1 != ''"> AND TBD.LYTIME &lt;= #{lytime1} </if> -->
<!-- 			<if test="fhtime != null and fhtime != ''">AND TBD.FHTIME >= #{fhtime} </if> -->
<!-- 			<if test="fhtime1 != null and fhtime1 != ''"> AND TBD.FHTIME &lt;= #{fhtime1} </if> -->
<!-- 			<if test="state != null and state != ''">AND TBD.STATE =  #{state} </if> -->
<!-- 			<if test="lyr != null and lyr != ''"> AND TBD.LYR LIKE CONCAT('%',#{lyr},'%') </if> -->
<!-- 			<if test="firm != null and firm != ''">AND TBD.FIRM LIKE CONCAT('%',#{firm},'%')  </if> -->
<!-- 			<if test="area != null and area != ''">AND TBD.AREA LIKE CONCAT('%',#{area},'%')  </if> -->
<!-- 			<if test="carNumber != null and carNumber != ''">AND TBD.CARNUMBER LIKE CONCAT('%',#{carNumber},'%')  </if> -->
<!-- 		</where> -->
		SELECT COUNT(1) FROM TB_DEVICES
			<where>
				<if test="listnum != null and listnum != ''">AND LISTNUM like CONCAT('%',#{listnum},'%')</if>
				<if test="phone != null and phone != ''">AND PHONE LIKE CONCAT('%',#{phone},'%')</if>
				<if test="rktime != null and rktime != ''">AND RKTIME >= #{rktime} </if>
				<if test="rktime1 != null and rktime1 != ''"> AND RKTIME &lt;= #{rktime1} </if>
				<if test="lytime != null and lytime != ''">AND LYTIME >= #{lytime} </if>
				<if test="lytime1 != null and lytime1 != ''"> AND LYTIME &lt;= #{lytime1} </if>
				<if test="fhtime != null and fhtime != ''">AND FHTIME >= #{fhtime} </if>
				<if test="fhtime1 != null and fhtime1 != ''"> AND FHTIME &lt;= #{fhtime1} </if>
				<if test="state != null and state != ''">AND STATE =  #{state} </if>
				<if test="lyr != null and lyr != ''"> AND LYR LIKE CONCAT('%',#{lyr},'%') </if>
				<if test="firm != null and firm != ''">AND FIRM LIKE CONCAT('%',#{firm},'%')  </if>
				<if test="area != null and area != ''">AND AREA LIKE CONCAT('%',#{area},'%')  </if>
				<if test="carNumber != null and carNumber != ''">AND CARNUMBER LIKE CONCAT('%',#{carNumber},'%')  </if>
			</where>
	</select>
	<select id="getList" resultType="Devices" parameterType="hashmap">
		SELECT <include refid="sql_base"></include> FROM TB_DEVICES  WHERE listnum like CONCAT('%',#{listnum},'%')  AND STATE = 1
	</select>
	<insert id="insert" parameterType="Devices">
		INSERT INTO TB_DEVICES
		(listnum,firm,model,rktime,state,fhtime,lyr,lytime,test,cstime,tresult,gpszj,gpstx,gsmtx,dy,fsd,jsq,sxy,ysq,mkf,remark,pack,area)
		VALUES(#{listnum},#{firm},#{model},curdate() ,#{state},#{fhtime},#{lyr},#{lytime},#{test},#{cstime},
		#{tresult},#{gpszj},#{gpstx},#{gsmtx},#{dy},#{fsd},#{jsq},#{sxy},#{ysq},#{mkf},#{remark},#{pack},#{area})
	</insert>
	<update id="testing" parameterType="Devices">
		UPDATE TB_DEVICES SET 
			test =#{test},phone=#{phone},tresult=#{tresult},cstime=now()
		WHERE ID=#{id}
	</update>
	<update id="goBack" parameterType="Devices">
		UPDATE TB_DEVICES SET 
			state=3 ,fhtime =now()
		WHERE ID=#{id}
	</update>
	<update id="outRepertory" parameterType="Devices">
		UPDATE TB_DEVICES SET 
			state=1 ,lyr =#{lyr},lytime=#{lytime},area=#{area},areaName= (select note from tb_xzqh where code = #{area})
		WHERE ID=#{id}
	</update>
</mapper>