<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.slkj.slclgl.module.mapper.ModuleMapper">
	<select id="temp">
		ID,NAME,PRIORITY,URL,PARENT_ID,ICON,DESCRIPTION
	</select>
	<select id="getAll" resultType="Module" parameterType="hashmap">
		SELECT * FROM TB_MODULE  ORDER BY PRIORITY
	</select>
	
	<select id="queryOne" resultType="Module" parameterType="string">
		SELECT * FROM TB_MODULE WHERE ID =#{id}
	</select>
	
	<select id="listByUser" resultType="Module" parameterType="hashmap">
			SELECT DISTINCT TBM.* FROM TB_MODULE TBM ,TB_ROLE_RES TBRR WHERE TBM.ID = TBRR.MODULE_ID
		<if test="id != null and id != ''">
			AND TBRR.ROLE_ID =  (SELECT ROLE_ID FROM TB_USER_ROLE WHERE 1 = 1 AND  USER_ID = #{id} ) 
		</if>
    	 ORDER BY PRIORITY
	</select>
	<insert id="insert" parameterType="Module">
		INSERT INTO TB_MODULE
		(NAME,PRIORITY,URL,PARENT_ID,ICON,DESCRIPTION)
		VALUES(#{name},#{priority},#{url},#{parent_id},#{icon},#{description})
	</insert>
	<update id="update" parameterType="Module">
		UPDATE TB_MODULE SET
		NAME=#{name},PRIORITY=#{priority},URL=#{url},PARENT_ID=#{parent_id},ICON=#{icon},DESCRIPTION=#{description}
		WHERE ID =#{id}
	</update>
	<delete id="delete" parameterType="string">
		DELETE FROM TB_MODULE WHERE ID = #{id}
	</delete>
		
	<select id="getModuleByRoleId" parameterType="hashmap" resultType="Module">
		SELECT DISTINCT TBR.* FROM TB_MODULE TBR ,TB_ROLE_RES TBRR
		WHERE TBR.ID = TBRR.MODULE_ID
		<if test="roleid != null and roleid != ''">
			AND TBRR.ROLE_ID = #{roleid}
		</if> 
    	AND ID != '1'  
	</select>
</mapper>