<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.slkj.slclgl.vehicle.mapper.VehicleMapper">

	<sql id="sql_temp">
		id,companyId,(select compName from  tb_company where id = companyId) as companyName,carOwner,
		carOwnersType,carOwnersCard,contacts,contactsTel,carNumber,carNumberG,plateColor,classify
		,carType,carBrand,carModel,carColor,carVin,carProType,carOutLength,carOutWidth,carOutHeight,
		carTotalmass,carEngNum,carEngModel,carFuelType,carDisplacement,carPower,carManuName,carModality,
		carTreadBe,carTreadAfter,carTireNum,carTireSpe,carNumOfSpring,carAxleDist,carAxleNum,carContLength,
		carContWidth,carContHeight,carApproved,carApprGuest,carTrac,carCabGuest,carUseNatu,carUseNatuName,
		carObtWay,carFacDate,installers,attendants,installtime,installAddress,fees,feeseEnd,isNotice,
		simPayer,payerTime,CTradingLine,CCatchMenbers,carImg,entryTime,entryId,entryName,depId,
		simNumber,equitment,networkNo,remark
	</sql>
	<select id="queryList" resultType="Vehicle" parameterType="hashmap">
			SELECT <include refid="sql_temp"/>  FROM TB_VEHICLE
			<where>
				<if test="listnum != null and listnum != ''">
					AND listnum  LIKE  '%' + #{listnum}  + '%'
				</if>
				<if test="phone != null and phone != ''">
					AND simNumber  LIKE  '%' + #{phone}  + '%'
				</if>
				<if test="companyName != null and companyName != ''">
					AND company  LIKE  '%' + #{companyName}  + '%'
				</if>
				<if test="carNumber != null and carNumber != ''">
					AND carNumber  LIKE  '%' + #{carNumber}  + '%'
				</if>
			</where>
			<if test="sort != null and sort != ''">
				ORDER BY  ${sort}       ${order}
			</if>
			LIMIT #{startPage},#{endPage}
	</select>

	<select id="queryListCount" resultType="int" parameterType="hashmap">
		SELECT COUNT(0) FROM TB_VEHICLE
		<where>
				<if test="listnum != null and listnum != ''">
					AND listnum  LIKE  '%' + #{listnum}  + '%'
				</if>
				<if test="phone != null and phone != ''">
					AND simNumber  LIKE  '%' + #{phone}  + '%'
				</if>
				<if test="companyName != null and companyName != ''">
					AND company  LIKE  '%' + #{companyName}  + '%'
				</if>
				<if test="carNumber != null and carNumber != ''">
					AND carNumber  LIKE  '%' + #{carNumber}  + '%'
				</if>
			</where>
	</select>
	<select id="queryOne" parameterType="hashmap" resultType="vehicle">
		SELECT <include refid="sql_temp"></include> FROM TB_VEHICLE
			<where>
				<if test="id != null and id != ''">
					AND ID  = #{id}
				</if>
				<if test="carNumber != null and carNumber != ''">
					AND CARNUMBER  LIKE  '%' + #{carNumber}  + '%'
				</if>
			</where>
	</select>

	<insert id="save" parameterType="Vehicle">
		INSERT INTO TB_VEHICLE(
			carOwner,carOwnersType,carOwnersCard,contacts,contactsTel,carNumber,carNumberG,plateColor,classify
			,carType,carBrand,carModel,carColor,carVin,carProType,carOutLength,carOutWidth,carOutHeight,
			carTotalmass,carEngNum,carEngModel,carFuelType,carDisplacement,carPower,carManuName,carModality,
			carTreadBe,carTreadAfter,carTireNum,carTireSpe,carNumOfSpring,carAxleDist,carAxleNum,carContLength,
			carContWidth,carContHeight,carApproved,carApprGuest,carTrac,carCabGuest,carUseNatu,carUseNatuName,
			carObtWay,carFacDate,installers,attendants,installtime,installAddress,fees,feeseEnd,isNotice,
			simPayer,payerTime,CTradingLine,CCatchMenbers,carImg,entryTime,entryId,entryName,depId,simNumber,equitment,networkNo,remark,companyId
		)
		VALUES(
			#{carOwner},#{carOwnersType},#{carOwnersCard},#{contacts},#{contactsTel},#{carNumber},#{carNumberG},#{plateColor},#{classify},
			#{carType},#{carBrand},#{carModel},#{carColor},#{carVin},#{carProType},#{carOutLength},#{carOutWidth},#{carOutHeight},
			#{carTotalmass},#{carEngNum},#{carEngModel},#{carFuelType},#{carDisplacement},#{carPower},#{carManuName},#{carModality},
			#{carTreadBe},#{carTreadAfter},#{carTireNum},#{carTireSpe},#{carNumOfSpring},#{carAxleDist},#{carAxleNum},#{carContLength},
			#{carContWidth},#{carContHeight},#{carApproved},#{carApprGuest},#{carTrac},#{carCabGuest},#{carUseNatu},#{carUseNatuName}
			,#{carObtWay},#{carFacDate},#{installers},#{attendants},#{installtime},#{installAddress},#{fees},#{feeseEnd},#{isNotice},
			#{simPayer},#{payerTime},#{CTradingLine},#{CCatchMenbers},#{carImg},#{entryTime},#{entryId},#{entryName},#{depId},
			#{simNumber},#{equitment},#{networkNo},#{remark},#{companyId}
		)
	</insert>

	<update id="edit" parameterType="Vehicle">
		UPDATE TB_VEHICLE SET  
		carOwner=#{carOwner},carOwnersType=#{carOwnersType},carOwnersCard=#{carOwnersCard},contacts=#{contacts},
		contactsTel=#{contactsTel},carNumber=#{carNumber},carNumberG=#{carNumberG},plateColor=#{plateColor},classify=#{classify},
		carType=#{carType},carBrand=#{carBrand},carModel=#{carModel},carColor=#{carColor},carVin=#{carVin},carProType=#{carProType},
		carOutLength=#{carOutLength},carOutWidth=#{carOutWidth},carOutHeight=#{carOutHeight},carTotalmass=#{carTotalmass},
		carEngNum=#{carEngNum},carEngModel=#{carEngModel},carFuelType=#{carFuelType},carDisplacement=#{carDisplacement},carPower=#{carPower},
		carManuName=#{carManuName},carModality=#{carModality},carTreadBe=#{carTreadBe},carTreadAfter=#{carTreadAfter},carTireNum=#{carTireNum},
		carTireSpe=#{carTireSpe},carNumOfSpring=#{carNumOfSpring},carAxleDist=#{carAxleDist},carAxleNum=#{carAxleNum},carContLength=#{carContLength},
		carContWidth=#{carContWidth},carContHeight=#{carContHeight},carApproved=#{carApproved},carApprGuest=#{carApprGuest},carTrac=#{carTrac},
		carCabGuest=#{carCabGuest},carUseNatu=#{carUseNatu},carUseNatuName=#{carUseNatuName},carObtWay=#{carObtWay},carFacDate=#{carFacDate},
		installers=#{installers},attendants=#{attendants},installtime=#{installtime},installAddress=#{installAddress},fees=#{fees},
		feeseEnd=#{feeseEnd},isNotice=#{isNotice},simPayer=#{simPayer},payerTime=#{payerTime},CTradingLine=#{CTradingLine},
		CCatchMenbers=#{CCatchMenbers},carImg=#{carImg},entryTime=#{entryTime},entryId=#{entryId},entryName=#{entryName},depId=#{depId},simNumber=#{simNumber},
		equitment=#{equitment},networkNo=#{networkNo},remark=#{remark},companyId=#{companyId}
		WHERE ID = #{id}
	</update>
	<update id="activated" parameterType="Vehicle">
		UPDATE TB_VEHICLE SET
			simNumber=#{simNumber},equitment=#{equitment},networkNo=#{networkNo},
			installers=#{installers},installtime=#{installtime},installAddress=#{installAddress},fees=#{fees},feeseEnd=#{feeseEnd},
			simPayer=#{simPayer},payerTime=#{payerTime},CTradingLine=#{CTradingLine},CCatchMenbers=#{CCatchMenbers},remark=#{remark} 
		WHERE ID = #{id}
	</update>
	<delete id="delete" parameterType="string">
		DELETE FROM TB_VEHICLE WHERE ID  = #{id}
	</delete>
</mapper>