<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.slkj.slclgl.after.mapper.PhoneMapper">
	<sql id="sql_temp">
		id,company,linkman,telephone,address,serviceType,serviceStatus,error,serviceRiqi,serviceMan,result,riqi,remark,
		(select compName from  tb_company where id = company) as companyName
	</sql>
	<select id="one" resultType="phone" parameterType="phone">
		SELECT
		<include refid="sql_temp" /> FROM TB_PHONE WHERE ID = #{id}

	</select>
	<select id="list" resultType="phone" parameterType="hashmap">
			SELECT <include refid="sql_temp"/>  FROM TB_PHONE
			<where>
			<if test="serviceMan != null and serviceMan != ''">
				AND serviceMan  Like CONCAT('%',#{serviceMan},'%')
			</if>
			<if test="company != null and company != ''">
				AND company = #{company}
			</if>
		</where>
			LIMIT #{startNum},#{endNum}
			
	</select>

	<select id="total" resultType="int" parameterType="hashmap">
		SELECT COUNT(0) FROM TB_PHONE
	</select>
	<insert id="insert" parameterType="phone">
		INSERT INTO TB_PHONE (
		company,linkman,telephone,address,serviceType,serviceStatus,error,serviceRiqi,serviceMan,result,riqi,remark
		)
		VALUES(
		#{company},#{linkman},#{telephone},#{address},#{serviceType},#{serviceStatus},#{error},
		#{serviceRiqi},#{serviceMan},#{result},#{riqi},#{remark})
	</insert>
	<update id="update" parameterType="phone">
		UPDATE TB_PHONE SET company=#{company},linkman=#{linkman},telephone=#{telephone},
		address=#{address},serviceType=#{serviceType},serviceStatus=#{serviceStatus},error=#{error},
		serviceRiqi=#{serviceRiqi},serviceMan=#{serviceMan},result=#{result},riqi=#{riqi},remark=#{remark} 
		WHERE id =#{id}
	</update>
	<delete id="delete" parameterType="string">
		DELETE FROM TB_PHONE WHERE ID = #{id}
	</delete>
	
</mapper>

