<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.slkj.slclgl.after.mapper.PhoneMapper">
	<sql id="sql_temp">
		id,carNo,company,linkman,telephone,address,serviceType,serviceStatus,error,customer,result,
		riqi,serviceRiqi,serviceMan,instead,remark
	</sql>
	<select id="one" resultType="phone" parameterType="phone">
		SELECT
		<include refid="sql_temp" /> FROM TB_PHONE WHERE ID = #{id}

	</select>
	<select id="list" resultType="phone" parameterType="hashmap">
			SELECT <include refid="sql_temp"/>  FROM TB_PHONE
			<where>
			<if test="carNo != null and carNo != ''">
				AND carNo like  CONCAT('%',#{carNo},'%')
			</if>
			<if test="serviceType != null and serviceType != ''">
				AND serviceType = #{serviceType}
			</if>
			<if test="customer != null and customer != ''">
				AND customer Like CONCAT('%',#{customer},'%') 
			</if>
			<if test="serviceMan != null and serviceMan != ''">
				AND serviceMan  Like CONCAT('%',#{serviceMan},'%')
			</if>
			<if test="result != null and result != ''">
				AND result = #{result}
			</if>
			<if test="ser != null and ser != ''">
				AND serviceMan != ''
			</if>
		</where>
			LIMIT #{startNum},#{endNum}
			
	</select>

	<select id="total" resultType="int" parameterType="hashmap">
		SELECT COUNT(0) FROM TB_PHONE
		<where>
			<if test="carNo != null and carNo != ''">
				AND carNo like  CONCAT('%',#{carNo},'%')
			</if>
			<if test="serviceType != null and serviceType != ''">
				AND serviceType = #{serviceType}
			</if>
			<if test="customer != null and customer != ''">
				AND customer Like CONCAT('%',#{customer},'%') 
			</if>
			<if test="serviceMan != null and serviceMan != ''">
				AND serviceMan  Like CONCAT('%',#{serviceMan},'%')
			</if>
			<if test="result != null and result != ''">
				AND result = #{result}
			</if>
			<if test="ser != null and ser != ''">
				AND serviceMan != ''
			</if>
		</where>
	</select>
	<insert id="insert" parameterType="phone">
		INSERT INTO TB_PHONE (
		carNo,company,linkman,telephone,address,serviceType,serviceStatus,error,customer,result,riqi,serviceRiqi,serviceMan,instead,remark
		)
		VALUES(
		#{carNo},#{company},#{linkman},#{telephone},#{address},#{serviceType},#{serviceStatus},#{error},#{customer},
		#{result},#{riqi},#{serviceRiqi},#{serviceMan},#{instead},#{remark})
	</insert>
	<update id="updPhone" parameterType="phone">
		UPDATE TB_PHONE SET carNo=#{carNo},company=#{company},linkman=#{linkman},telephone=#{telephone},
		address=#{address},serviceType=#{serviceType},serviceStatus=#{serviceStatus},error=#{error},
		customer=#{customer},riqi=#{riqi} WHERE id =#{id}
	</update>
	<update id="updService" parameterType="phone">
		UPDATE TB_PHONE SET serviceRiqi=#{serviceRiqi},serviceMan=#{serviceMan},
		remark=#{remark} WHERE id =#{id}
	</update>
	<update id="updMaintain" parameterType="phone">
		UPDATE TB_PHONE SET result=#{result},instead=#{instead} WHERE id =#{id}
	</update>
	<delete id="delete" parameterType="string">
		DELETE FROM TB_PHONE WHERE ID = #{id}
	</delete>
	<delete id="delService" parameterType="string">
		UPDATE TB_PHONE SET result='未解决',serviceRiqi='',serviceMan='',
		instead='' WHERE id =#{id}
	</delete>
</mapper>

